img {
  width: 100%;
  display: block;
}
ion-row{
margin: 0 -5px;
}

.deals-images{
padding-bottom: 0;
img{
  height: auto;
}
ion-card{
  width: 100%;
  box-shadow: 0 0 7px rgba(var(--ion-color-dark-rgb), .34);
  margin: 0;
  border-radius: 0;
}
}
